img {
    margin-top: 10px;
}

body {
    font-weight: 100;
    font-family: "Lato", sans-serif;
    color: #2d3c49;
}

.heading {
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0;
}

.footer {
    margin-right: 10px;
}

.title {
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: #7d97ad;
    font-size: 30px;
}

.footer-img {
    text-transform: uppercase;
    color: #7d97ad;
    text-align: center;
}

.footer-link {
    margin-left: 20%;
}

